h1, h2, hr, footer > div {
    color: white;
}

.index-page-greeting {
    font-weight: 700;
}

.index-page-greeting-p {
    color: white;
}

header {
    background-color: #EEF5FF;
    color: white;
}

.form-label-add-edit {
    margin-bottom: 0.5rem;
    color: white;
}

section, section > div > p > a, section > form > div > p > a {
    color: white;
}

.form-floating {
    color: grey;
}

.home-page-image {
    border-radius: 20px;
}

.custom-button-color {
    background-color: #176B87;
    border-color: #176B87;
}

.custom-button-color:hover {
    background-color: #86B6F6;
    color: #176B87;
}

.btn-purple {
    background-color: purple;
    color: white;
    border-color: purple;
}

.text-purple { color: purple; 

}

.custom-button-color-red {
    background-color: red;
    border-color: red;
}



