@model TaskFormModel
@{
	ViewData["Title"] = "Add new Task to the List";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_TaskFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}