<ul class="navbar-nav flex-grow-1">
	<li class="nav-item mx-2">
		<a class="nav-link btn btn-sm custom-button-color text-white" asp-area="" asp-controller="Task" asp-action="All">Tasks</a>
	</li>
	<li class="nav-item mx-2">
		<a class="nav-link btn btn-sm custom-button-color text-white" asp-area="" asp-controller="Operator" asp-action="All">Operators</a>
	</li>
	<li class="nav-item mx-2">
		<a class="nav-link btn btn-sm custom-button-color text-white" asp-area="" asp-controller="Machine" asp-action="All">CMMs</a>
	</li>
	<li class="nav-item mx-2">
		<a class="nav-link btn btn-sm custom-button-color text-white" asp-area="" asp-controller="Project" asp-action="All">Projects</a>
	</li>
	<li class="nav-item mx-2">
		<a class="nav-link btn btn-sm custom-button-color text-white" asp-area="" asp-controller="Part" asp-action="All">Parts</a>
	</li>
	@if (User.IsAdmin())
	{
		<ul class="navbar-nav flex-grow-1">
			<li class="nav-item mx-2">
				<a class="nav-link btn btn-sm custom-button-color-red text-white" asp-area="Admin" asp-controller="Home" asp-action="Check">For Check</a>
			</li>
		</ul>
	}   
</ul>