<ul class="navbar-nav flex-grow-1">
	<li class="nav-item mx-2">
		<a class="nav-link btn btn-sm custom-button-color text-white" asp-area="Admin" asp-controller="Home" asp-action="Check">For Check</a>
	</li>
</ul>