@{
	ViewData["Title"] = "Check";
}

<div class="row">
	<div class="col-md-1">
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">For checking</h5>
				<p class="card-text">Please check</p>
				<a asp-action="ForReview" class="btn btn-primary">For checking</a>
			</div>
		</div>
	</div>
</div>

