@model ProjectFormModel

@{
	ViewData["Title"] = "Add New Project";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_ProjectAddFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
