@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="index-page-greeting">TeAm WoRk FlOw</h1>
	<h2 class="index-page-greeting-p">Your Tasks Management app</h2>

	<img src="~/img/task.png" style="width: 100vh" />
</div>