@using Microsoft.AspNetCore.Identity
@using TeamWorkFlow.Infrastructure.Data.Models
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	string userName = string.Empty;

	if (SignInManager.IsSignedIn(User))
	{
		userName = User.FindFirstValue(TeamWorkFlow.Infrastructure.Constants.CustomClaimsConstants.UserName)
			.Split("@")[0];
	}
}

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi @userName</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="All" title="Return">Users Interface</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>